img {
  border-radius: 10px;
}

.intro {
  font: 5rem "Gilroy", sans-serif !important;
}
.name {
  font: 5rem "Gilroy", sans-serif !important;
}
.cont {
  font: 2.5rem "Gilroy", sans-serif !important;
}

.links {
  width: 50%;
}
.docs {
  padding-left: 12px !important;
  text-align: left;
  font: 1.875rem "Gilroy", sans-serif !important;
}

.contact {
  padding: 0.9rem !important;
  text-align: left;
  font: 1.875rem "Gilroy", sans-serif !important;
}

.ptitle {
  font: 3.125rem "Gilroy", sans-serif !important;
}

.psubtitle {
  font: 1.875rem "Gilroy", sans-serif !important;
}
